<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="message" type="com.datacity.lightgroup.model.Message"*/-->
<tbody th:fragment="allMessage">
<tr th:each="message: ${messages}">
    <th scope="row" th:text="${message.id}"></th>
    <td th:text="${message.name}+' '+${message.surname}"></td>
    <td>
        <button th:onclick="'init(\'' + ${message.id} +'\',\'delete\',\'message\')'" type="button"
                class=" delete-message btn btn-danger">
            Sil
        </button>
    <td>
        <button th:onclick="'init(\'' + ${message.id} +'\',\'update\',\'message\')'" type="button"
                class=" change-info-button white-button btn btn-secondary">
            Bax
        </button>
    </td>
</tr>
</tbody>
</html>