<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="service" type="com.datacity.lightgroup.model.Service"*/-->
<form th:object="${service}" th:action="@{'/admin/service/delete'}" method="post">
    <div class="modal-body">
        <input id="id" type="hidden" th:field="*{id}"/>
        <button type="button" class="white-button btn btn-secondary btn-sm ml-auto"
                data-dismiss="modal">
            Ləğv et
        </button>
        <button type="submit" class="save-new-button dark-button btn btn-primary btn-sm ml-1">
            Təsdiqlə
        </button>
    </div>
</form>
</html>